.aboutus{
    background-color: lightblue;
    text-align: right;
}

.register{
    background-color:lightblue;
    text-align: right;
}
 
h2{
    text-align: center;
}

form{
    text-align: center;
}

.images{
    text-align: center;
}